<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <% if !current_user.confirmed? %>
           <h4 style="color:red;">Your account still needs to be <%= link_to "confirmed.", new_confirmation_path("user") %><br /></h4>
      <% end %>

      <% if !@pick.nil? %>
        <h4 style="font-weight:bold;">
          <p><%= "Thanks for making your pick. You are locked in with  #{@pick.stock_result.stock} - #{@pick.prediction}." %></p>
          <p><%= "Please return after closing bell on #{next_weekday(@curr_day).strftime("%A")} to make your next pick." %><p>
        </h4>
      <% elsif @allow_prediction %>
        <p>Now accepting picks for <%= @curr_day.strftime("%A, %B %-d") %>.  Make your prediction!</p>
      <% else %>
        <h4 style="color:#0a5e80; font-weight:bold;">
          <p>Picks are currently closed for the day.</p>
          <p>Please return after closing bell to make your next pick.</p>
        </h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h2> <%= @curr_day.strftime("%A, %B %-d") %> </h2>
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn-info btn-default btn">Current Pick</a>
          <a class="btn btn-default" href="/history">Pick History</a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped stock-options">
          <thead>
          <tr>
            <th>Stock</th>
            <% if @market_open %>
              <th>Current</th>
            <% else %>
              <th>Closing Price</th>
            <% end %>
            <th>Locked In Price</th>
            <th>Prediction</th>
            <th>Result</th>
          </tr>
          </thead>
          <tbody>
          <% @results.each do |result| %>
            <tr>
              <td style="width:10%" ><%= result.stock %></td>
              <td style="width:25%" > <%= number_to_currency(result.price) %></td>
              <% if !result.stock_picks.first.nil? %>
                <td style="width:25%" ><%= number_to_currency(result.stock_picks.first.assigned_price) %></td>
                <td>
                  <div class="btn-group" style="width:100%">
                    <% ["up", "down"].each do |direction| %>
                        <% if direction == result.stock_picks.first.prediction %>
                          <%= link_to direction.upcase, "#", :style=>"float:left; width:50%; text-align:center", :class => "btn btn-info btn-default", :disabled=>"disabled" %>
                        <% else %>
                          <%= link_to direction.upcase, "#", :style=>"float:left; width:50%; text-align:center", :class => "btn btn-default", :disabled=>"disabled" %>
                        <% end %>
                    <% end %>
                  </div>
                </td>
                <td style="width:15%" ><%= result.stock_picks.first.result %></td>
              <% elsif !@allow_prediction %>
                <td style="width:25%" ></td>
                <td>
                  <div class="btn-group" style="width:100%">
                    <% ["up", "down"].each do |direction| %>
                        <%= link_to direction.upcase, "#", :style=>"float:left; width:50%; text-align:center", :class => "btn btn-default", :disabled=>"disabled" %>
                    <% end %>
                  </div>
                </td>
                <td style="width:15%" ></td>
              <% else %>
                <td style="width:25%" ></td>
                <td style="width:25%" >
                  <div class="btn-group" style="width:100%">
                    <% ["up", "down"].each do |direction| %>
                      <% form_id = "Form" + result.id.to_s + direction %>
                      <%= form_tag({:controller => "stock_picks", :action => "create"}, :id => form_id) do %>
                        <%= hidden_field_tag(:prediction, direction) %>
                        <%= hidden_field_tag(:stock_result_id, result.id) %>
                        <%= link_to direction.upcase, "#", :style=>"float:left; width:50%; text-align:center", :class => "btn btn-default", :onclick=>"$('#" + form_id + "').submit()" %>
                      <% end %>
                    <% end %>
                  </div>
                </td>
                <td style="width:15%" ></td>
              <% end %>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= render "shared/leaderboard" %>
  </div>
</div>