<%- model_class = StockPick -%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <% if !current_user.confirmed? %>
        <h4 style="color:red;">Your account still needs to be <%= link_to "confirmed.", new_confirmation_path("user") %><br /></h4>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8">
        <h2> <%= "#{current_user.name}'s Pick History" %> </h2>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn-default btn" href="/">Current Pick</a>
            <a class="btn-info btn btn-default">Pick History</a>
          </div>
        </div>
        <div class="table-responsive">
        <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Stock Pick</th>
            <th>Day</th>
            <th>Prediction</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <% @stock_picks.each do |stock_pick| %>
            <tr class="historical-stock-pick">
              <td><%= stock_pick.stock_result.stock  %></td>
              <td><%= stock_pick.stock_result.result_date %></td>
              <td><%= stock_pick.prediction_long %></td>
              <td><%= stock_pick.result.humanize  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <% if @stock_picks.empty? %>
           You have not made any picks yet.
        <% end %>
      </div>
    </div>
    <%= render "shared/leaderboard" %>
  </div>
</div>
