<div class="col-xs-12 col-md-4">

  <h2>Leaderboard</h2>

  <div class="btn-toolbar">
    <div class="btn-group streak-btn-group">
      <a class="btn-current btn-info btn-default btn" href="javascript:displayOrder('current')">Current Streak</a>
      <a class="btn-longest btn btn-default" href="javascript:displayOrder('longest');">Longest Streak</a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="current-streak streak table table-striped">
      <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Record</th>
        <th>Longest</th>
        <th>Current</th>
      </tr>
      </thead>
      <tbody>
      <% @current_leaders.each do |user| %>
        <tr>
          <td><%= user.current_rank %></td>
          <td><%= user.name %></td>
          <td><%= user.record %></td>
          <td><%= user.max_streak %></td>
          <td><%= user.current_streak %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="table-responsive">
    <table style="display:none" class="longest-streak streak table table-striped">
      <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Record</th>
        <th>Longest</th>
        <th>Current</th>
      </tr>
      </thead>
      <tbody>
      <% @all_time_leaders.each do |user| %>
        <tr>
          <td><%= user.max_rank %></td>
          <td><%= user.name %></td>
          <td><%= user.record %></td>
          <td><%= user.max_streak %></td>
          <td><%= user.current_streak %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<script>
  function displayOrder(selector)
  {

    var streakBtns = $(".streak-btn-group");
    $(".streak").hide();
    streakBtns.children(".btn").removeClass("btn-info");
    streakBtns.children("." +  selector + "-streak").show();
    streakBtns.children(".btn-" + selector).addClass("btn-info");

    $("." + selector + "-streak").show();
  }
</script>
